<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Hi, you guys.</p>
  </div>
  <div class="sidebar-module">
    <h4>最新文章</h4>
    <ol class="list-unstyled">
      {% for post in site.posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ol>
  </div>
  <div class="sidebar-module">
    <h4>其他</h4>
    <ol class="list-unstyled">
      <li><a href="http://weibo.com/zenol#">微博</a></li>
    </ol>
  </div>
</div><!-- /.blog-sidebar -->