<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>{{ page.title }}</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/blog.css" rel="stylesheet">
</head>
<body>

<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <a class="blog-nav-item" href="#">Home</a>
    </nav>
  </div>
</div>

<div class="container">

  <div class="blog-header">
    <h1 class="blog-title">Zero's Blog</h1>
    <!--<p class="lead blog-description"></p>-->
  </div>

  <div class="row">
    <div class="col-sm-8 blog-main">
      {{ content }}
    </div><!-- /.blog-main -->
  </div><!-- /.row -->

</div><!-- /.container -->

<div class="blog-footer">
  <p>Freedom is not free.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->
<script src="/js/bootstrap.min.js"></script>
<!--<script src="../../assets/js/docs.min.js"></script>-->
</body>
</html>


